.select-input {
	position: relative
}

.select-input.input-group>.form-control {
	width: 100%
}

.select-input>.form-control {
	width: 100%;
	padding-right: 30px;
	background-image: none
}

.select-input>.form-control.empty {
	color: #bdbdbd
}

.select-input>.form-control>option {
	color: #424242
}

.select-input>.form-control>option:disabled {
	color: #bdbdbd
}

.select-input__icon {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	font-size: 0;
	cursor: default;
	color: rgba(0, 0, 0, .3);
	pointer-events: none
}

.select-input.errored .select-input__icon {
	color: #f77
}

.option-count-input {
	width: 80px
}

.option-count-input.manual.form-control, .option-count-input.select-input>.form-control
	{
	height: 24px;
	padding: 0 10px;
	font-size: 13px;
	line-height: 22px;
	border-radius: 3px;
	text-align: center;
	font-family: Tahoma, sans
}

.option-count-input.manual.form-control:disabled, .option-count-input.select-input>.form-control:disabled
	{
	opacity: .4;
	background-color: #fff;
	color: #000;
	border: 1px solid #dbdbdb
}

.option-count-input.manual.form-control:disabled+.select-input__icon,
	.option-count-input.select-input>.form-control:disabled+.select-input__icon
	{
	display: none
}

.option-count-input.select-input>.form-control {
	padding-right: 30px
}

.option-count-input .select-input__icon {
	top: 2px;
	right: 5px
}

.selling-option-item {
	position: relative;
	margin: 0 0 8px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 6px
}

.selling-option-item--placeholder .selling-option-item__name:before {
	display: inline-block;
	content: "\00a0";
	width: 100%;
	max-width: 320px;
	background-color: #dbdbdb;
	color: #dbdbdb
}

.selling-option-item--placeholder .selling-option-item__quantity__number
	{
	display: inline-block;
	width: 80px;
	height: 24px;
	padding: 0 30px 0 10px;
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	background-color: #fff
}

.selling-option-item--placeholder .selling-option-item__price:before {
	display: inline-block;
	content: "\00a0";
	width: 75px;
	background-color: #dbdbdb;
	color: #dbdbdb
}

.selling-option-item--sold-out .selling-option-item__name,
	.selling-option-item--sold-out .selling-option-item__price {
	color: rgba(66, 66, 66, .4)
}

.selling-option-item__production {
	margin: 0 0 10px;
	padding: 0 22px 0 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #424242;
	max-height: 40px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}

.selling-option-item__production+.selling-option-item__name {
	font-size: 13px
}

.selling-option-item__name {
	padding: 0 22px 10px 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #424242
}

.selling-option-item__name__sold-out-badge {
	display: inline-block;
	margin-right: 4px;
	padding: 2px 6px 4px;
	background-color: #757575;
	color: #fff;
	font-weight: 500;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	border-radius: 20px;
	vertical-align: 1px
}

.selling-option-item__delete {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	padding: 10px;
	background: none;
	border: none;
	font-size: 0;
	transition: opacity .1s;
	color: #757575
}

.selling-option-item__delete:active, .selling-option-item__delete:focus,
	.selling-option-item__delete:hover {
	opacity: .5
}

.selling-option-item__controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between
}

.selling-option-item__price {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	color: #424242
}

.selling-option-item__price__number {
	font-family: Tahoma, sans
}

.selling-option-item__memo {
	display: block
}

.selling-option-item__memo__text {
	margin-top: 15px;
	color: #424242;
	font-size: 15px;
	line-height: 21px
}

.selling-option-item__memo__input.form-control {
	max-height: 80px;
	margin-top: 8px;
	font-size: 15px;
	border-radius: 4px
}

.product-small-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.product-small-item--placeholder .product-small-item__title__fill {
	display: block;
	max-width: 400px;
	background-color: #ededed;
	color: #ededed
}

.product-small-item--placeholder .product-small-item__title__fill:before
	{
	content: "\00a0"
}

.product-small-item--clickable:active .product-small-item__image>img,
	.product-small-item--clickable:focus .product-small-item__image>img,
	.product-small-item--clickable:hover .product-small-item__image>img {
	transform: translate(-50%, -50%) scale(1.05)
}

.product-small-item--clickable:active .product-small-item__title,
	.product-small-item--clickable:focus .product-small-item__title,
	.product-small-item--clickable:hover .product-small-item__title {
	opacity: .5
}

.product-small-item__image {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 6px;
	background-color: #ededed;
	overflow: hidden
}

.product-small-item__image>img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transition: transform .2s;
	transform: translate(-50%, -50%) scale(1.0001)
}

.product-small-item__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	padding-left: 12px
}

.product-small-item__title {
	min-width: 0;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	line-height: 21px;
	overflow-wrap: break-word;
	transition: opacity .1s
}

.product-small-item__title__sold-out-badge {
	display: inline-block;
	margin-right: 4px;
	padding: 3px 6px;
	background-color: #757575;
	color: #fff;
	font-weight: 500;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	border-radius: 20px;
	vertical-align: 1px
}

.product-small-item__caption {
	margin-top: 8px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #757575;
	overflow-wrap: break-word
}

.selling-option-select-input__option.select-input {
	margin-bottom: 10px
}

.selling-option-select-input__option.select-input:last-child {
	margin-bottom: 0
}

.selling-option-select-input__option.select-input>.form-control {
	font-size: 15px;
	border-radius: 4px
}

.selling-option-select-input__option.select-input>.form-control.empty {
	color: #424242
}

.selling-option-select-input__option.select-input.focused>.form-control
	{
	border-color: #35c5f0
}

.selling-option-select-input__option.select-input.focused .select-input__icon
	{
	color: #35c5f0
}

._3zqA8 {
	position: relative;
	display: inline-block;
	font-size: 0;
	padding: 9px
}

._3UImz {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: inherit;
	opacity: 0;
	box-sizing: border-box
}

._3UImz:checked+._2mDYR {
	border-color: #35c5f0;
	background-color: #35c5f0;
	color: #fff
}

@media ( hover :none) {
	._3UImz {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	}
	._3UImz:active+._2mDYR {
		background-color: #f5f5f5;
		border-color: #bdbdbd;
		color: #f5f5f5
	}
	._3UImz:active:checked+._2mDYR {
		background-color: #09addb;
		border-color: #09addb
	}
}

@media ( -ms-high-contrast :active) , ( hover :hover) , all and
	(-ms-high-contrast:none) {
	._3UImz.focus-visible+._2mDYR, ._3UImz:hover+._2mDYR, html:not (.js-focus-visible
		) ._3UImz:focus+._2mDYR {
		background-color: #f5f5f5;
		border-color: #bdbdbd;
		color: #f5f5f5
	}
	._3UImz.focus-visible:checked+._2mDYR, ._3UImz:hover:checked+._2mDYR,
		html:not (.js-focus-visible ) ._3UImz:focus:checked+._2mDYR {
		background-color: #09addb;
		border-color: #09addb
	}
}

._3UImz::-moz-focus-inner {
	border: 0
}

._3UImz.focus-visible, html.js-focus-visible ._3UImz:not (.focus-visible
	):focus, html:not (.js-focus-visible ) ._3UImz:focus {
	outline: none
}

._3UImz.focus-visible+._2mDYR, html:not (.js-focus-visible ) ._3UImz:focus+._2mDYR
	{
	box-shadow: 0 0 0 3px rgba(53, 197, 240, .3)
}

._3UImz:disabled+._2mDYR {
	background-color: #ccc;
	border-color: #ccc;
	color: #ccc
}

._3UImz:disabled:checked+._2mDYR {
	background-color: #757575;
	border-color: #757575;
	color: #fff
}

._2mDYR {
	display: inline-block;
	width: 22px;
	height: 22px;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	transition: color .1s, border-color .1s, background-color .1s
}

.-xWBR ._3UImz+._2mDYR {
	border-color: #f77
}

@media ( hover :none) {
	.-xWBR ._3UImz {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	}
	.-xWBR ._3UImz:active+._2mDYR {
		border-color: #f06060
	}
}

@media ( -ms-high-contrast :active) , ( hover :hover) , all and
	(-ms-high-contrast:none) {
	.-xWBR ._3UImz.focus-visible+._2mDYR, .-xWBR ._3UImz:hover+._2mDYR, html:not
		(.js-focus-visible ) .-xWBR ._3UImz:focus+._2mDYR {
		border-color: #f06060
	}
}

._2UftR {
	width: 1em;
	height: 1em
}

.selling-option-form-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.selling-option-form-content__form {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.selling-option-form-content__form .selling-option-select-input {
	margin-bottom: 10px
}

.selling-option-form-content__form .selling-option-select-input:empty {
	margin: 0
}

.selling-option-form-content__form__pay-at {
	display: block;
	margin-bottom: 10px
}

.selling-option-form-content__form__pay-at .form-control {
	font-size: 15px;
	border-radius: 4px
}

.selling-option-form-content__form__date,
	.selling-option-form-content__form__memo {
	display: block;
	margin-bottom: 10px
}

.selling-option-form-content__form__date__text,
	.selling-option-form-content__form__memo__text {
	margin-top: 20px;
	color: #424242;
	font-size: 12px;
	line-height: 16px
}

.selling-option-form-content__form__date__input.form-control,
	.selling-option-form-content__form__date__input .form-control,
	.selling-option-form-content__form__memo__input.form-control,
	.selling-option-form-content__form__memo__input .form-control {
	max-height: 80px;
	margin-top: 8px;
	font-size: 15px;
	border-radius: 4px
}

.selling-option-form-content__form__date__input .form-control {
	margin-top: 0
}

.selling-option-form-content__form__assembling {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	align-items: flex-start;
	margin: 6px 0 20px -9px
}

.selling-option-form-content__form__assembling-caption {
	color: #757575
}

.selling-option-form-content__form__assembling-caption .title {
	margin: 9px 0 4px;
	font-size: 15px;
	line-height: 20px
}

.selling-option-form-content__form__assembling-caption .title-bold {
	font-size: 16px;
	font-weight: 700;
	color: #424242
}

.selling-option-form-content__form__assembling-caption .content {
	font-size: 13px;
	line-height: 19px
}

.selling-option-form-content__list {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	position: relative;
	min-height: 1px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.selling-option-form-content__list li:last-child .pro-store-option-item
	{
	margin-bottom: 0
}

.selling-option-form-content__price {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin-top: 10px
}

.selling-option-form-content__price__left {
	font-size: 13px
}

.selling-option-form-content__price__left,
	.selling-option-form-content__price__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	font-weight: 700;
	color: #000
}

.selling-option-form-content__price__right {
	text-align: right;
	font-size: 17px
}

@media ( min-width :768px) {
	.selling-option-form-content__price__right {
		font-size: 20px
	}
}

.selling-option-form-content__price__number {
	font-family: Tahoma, sans
}

.carted-product-edit__modal__handle {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin: 0;
	padding: 8px 24px;
	transform: translateX(-50%);
	box-sizing: border-box;
	background: none;
	border: none;
	font-size: 0;
	pointer-events: none
}

@media ( min-width :768px) {
	.carted-product-edit__modal__handle {
		display: none
	}
}

.carted-product-edit__modal__handle:before {
	content: "";
	display: block;
	width: 40px;
	height: 6px;
	background-color: #fff;
	border-radius: 3px
}

.carted-product-edit__modal__close {
	position: absolute;
	top: 10px;
	right: 5px;
	padding: 10px;
	color: #424242;
	border: none;
	background-color: transparent;
	transition: opacity .1s
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close {
		top: 15px;
		right: 15px;
		padding: 0
	}
}

.carted-product-edit__modal__close:active,
	.carted-product-edit__modal__close:focus,
	.carted-product-edit__modal__close:hover {
	opacity: .6
}

.carted-product-edit__modal__close>.icon-sm {
	display: block
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close>.icon-sm {
		display: none
	}
}

.carted-product-edit__modal__close>.icon-md {
	display: none
}

@media ( min-width :768px) {
	.carted-product-edit__modal__close>.icon-md {
		display: block
	}
}

.carted-product-edit__modal__content.react-modal__content {
	position: relative
}

@media ( max-width :767px) {
	.carted-product-edit__modal__content.react-modal__content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		max-height: calc(100vh - 70px);
		padding: 20px 15px;
		margin-top: 25px;
		border-radius: 16px 16px 0 0
	}
}

@media ( min-width :768px) {
	.carted-product-edit__modal__content.react-modal__content {
		width: 405px;
		padding: 30px
	}
}

.carted-product-edit__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px
}

.carted-product-edit__form .product-small-item {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 15px
}

@media ( min-width :768px) {
	.carted-product-edit__form .product-small-item {
		padding-right: 5px
	}
}

.carted-product-edit__form__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding-top: 20px
}

.carted-product-edit__form__footer {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px -14px -15px;
	padding-bottom: env(safe-area-inset-bottom)
}

@media ( min-width :768px) {
	.carted-product-edit__form__footer {
		margin: 20px -5px 0
	}
}

.carted-product-edit__form__footer__button.button {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	margin: 0 5px
}

@media ( max-width :767px) {
	.carted-product-edit__form__footer__button.button {
		margin: 0 3.5px;
		padding: 11px 10px;
		line-height: 20px
	}
}

.carted-product {
	position: relative;
	padding: 20px 15px 20px 49px
}

@media ( min-width :768px) {
	.carted-product {
		padding: 20px 15px 20px 54px
	}
}

.carted-product--placeholder .carted-product__subtotal {
	width: 80px;
	background-color: #ededed;
	color: #ededed
}

.carted-product--placeholder .carted-product__subtotal:before {
	content: "\00a0"
}

.carted-product--has-sold-out .carted-product__subtotal,
	.carted-product--sold-out .carted-product__card__title,
	.carted-product--sold-out .carted-product__subtotal {
	color: rgba(0, 0, 0, .4)
}

.carted-product__select {
	position: absolute;
	margin: -9px;
	top: 20px;
	left: 15px
}

@media ( min-width :768px) {
	.carted-product__select {
		left: 20px
	}
}

.carted-product .product-small-item {
	margin: 0 20px 12px 0
}

.carted-product__delete {
	position: absolute;
	display: inline-block;
	top: 15px;
	right: 10px;
	padding: 5px;
	background: none;
	border: none;
	font-size: 0;
	transition: opacity .1s;
	color: #424242
}

@media ( min-width :768px) {
	.carted-product__delete {
		right: 15px
	}
}

.carted-product__delete:active, .carted-product__delete:focus,
	.carted-product__delete:hover {
	opacity: .5
}

.carted-product__pay-at {
	margin-bottom: 12px
}

.carted-product__pay-at .form-control {
	font-size: 15px;
	line-height: 1.4;
	border-radius: 4px
}

.carted-product__memo {
	display: block;
	margin-bottom: 12px
}

.carted-product__memo__text {
	margin-bottom: 8px;
	color: #424242;
	font-size: 12px;
	line-height: 16px
}

.carted-product__memo__input {
	display: block;
	width: 100%;
	padding: 8px 15px 9px;
	font-size: 15px;
	line-height: 1.4;
	border-radius: 4px
}

.carted-product__date {
	display: block;
	margin-bottom: 12px
}

.carted-product__date .form-control {
	font-size: 15px
}

.carted-product__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin-top: 16px
}

.carted-product__footer__left {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.carted-product__edit-btn, .carted-product__order-btn {
	position: relative;
	display: inline-block;
	margin: 2px 0 0 -3px;
	padding: 3px;
	background: none;
	border: none;
	color: #424242;
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s
}

.carted-product__edit-btn:active, .carted-product__edit-btn:focus,
	.carted-product__edit-btn:hover, .carted-product__order-btn:active,
	.carted-product__order-btn:focus, .carted-product__order-btn:hover {
	opacity: .5
}

.carted-product__edit-btn:nth-child(n+2), .carted-product__order-btn:nth-child(n+2)
	{
	margin-left: 14px
}

.carted-product__edit-btn:nth-child(n+2):before,
	.carted-product__order-btn:nth-child(n+2):before {
	content: "";
	position: absolute;
	display: block;
	left: -7px;
	top: 4px;
	height: 12px;
	border-left: 1px solid #dbdbdb
}

.carted-product__subtotal {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	color: #000;
	font-size: 17px;
	font-weight: 700
}

.carted-product__subtotal__number {
	font-family: Tahoma, sans
}

.commerce-cart__delivery-group {
	margin-bottom: 12px;
	background-color: #fff
}

@media ( min-width :768px) {
	.commerce-cart__delivery-group {
		border: 1px solid #ededed;
		border-radius: 6px
	}
}

.commerce-cart__delivery-group--placeholder .commerce-cart__delivery-group__footer:before
	{
	content: "\00a0";
	display: inline-block;
	width: 200px;
	background-color: #ededed;
	color: #ededed
}

.commerce-cart__delivery-group__product-item {
	border-bottom: 1px solid #ededed
}

.commerce-cart__delivery-group__footer {
	padding: 10px 0;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #424242
}

.commerce-cart__delivery-group__group-caption {
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #757575
}

.commerce-cart__delivery-group__group-link {
	margin-top: 5px;
	font-size: 13px;
	line-height: 21px;
	text-align: center
}

.commerce-cart__delivery-group__group-link__link {
	display: inline-block;
	padding: 0 4px;
	font-weight: 700;
	color: #35c5f0;
	transition: color .1s
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	color: #09addb
}

@media ( min-width :768px) {
	.commerce-cart__delivery-group__group-link__link:active,
		.commerce-cart__delivery-group__group-link__link:hover {
		color: #09addb
	}
}

.commerce-cart__delivery-group__group-link__link::-moz-focus-inner {
	border: 0
}

.commerce-cart__delivery-group__group-link__link.focus-visible:focus {
	outline: none;
	box-shadow: 0 0 0 3px #a3e4f8;
	border-radius: 4px
}

.commerce-cart__delivery-group__group-link__link>.icon {
	font-size: 12px;
	vertical-align: -2px;
	margin-left: 2px
}

.commerce-cart__group {
	margin-bottom: 12px
}

.commerce-cart__group--placeholder .commerce-cart__group__header:before
	{
	content: "\00a0";
	display: inline-block;
	width: 200px;
	background-color: #ededed;
	color: #ededed
}

.commerce-cart__group__header {
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	color: #424242;
	background-color: #fff
}

@media ( min-width :768px) {
	.commerce-cart__group__header {
		border: solid #ededed;
		border-width: 1px 1px 0;
		border-radius: 6px 6px 0 0
	}
}

@media ( min-width :768px) {
	.commerce-cart__group__item-list .commerce-cart__group__item:first-child .commerce-cart__delivery-group
		{
		border-top-left-radius: 0;
		border-top-right-radius: 0
	}
}

.commerce-cart__summary {
	padding: 10px 20px
}

.commerce-cart__summary--placeholder .commerce-cart__summary__row>dd {
	width: 95px;
	height: 15px;
	color: #ededed;
	background-color: #ededed
}

.commerce-cart__summary--placeholder .commerce-cart__summary__row--total>dd
	{
	width: 130px;
	height: 30px;
	color: #ededed;
	background-color: #ededed
}

.commerce-cart__summary__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 15px;
	font-weight: 400;
	color: #424242
}

.commerce-cart__summary__row>dd, .commerce-cart__summary__row>dt {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.commerce-cart__summary__row>dd {
	font-weight: 700;
	text-align: right
}

.commerce-cart__summary__row>dd .number {
	font-family: Tahoma, sans
}

.commerce-cart__summary__row--total {
	margin: 30px 0 20px;
	color: #000
}

.commerce-cart__summary__row--total>dt {
	font-weight: 700
}

.commerce-cart__summary__row--total>dd {
	font-size: 24px
}

.commerce-cart-wrap {
	position: relative;
	background-color: #f5f5f5
}

.layout .commerce-cart-wrap {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.commerce-cart {
	position: relative
}

.commerce-cart__header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 8px 15px;
	margin: 0 0 11px;
	background-color: #fff;
	border-bottom: 1px solid #ededed;
	z-index: 100
}

.commerce-cart__header-wrap {
	z-index: 100
}

@media ( min-width :768px) {
	.commerce-cart__header {
		padding: 0 21px;
		background: none;
		border: none
	}
}

.commerce-cart__header__left {
	margin: -9px
}

.commerce-cart__header__left, .commerce-cart__header__right {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.commerce-cart__header__caption {
	display: inline-block;
	line-height: 21px;
	margin-bottom: 2px
}

.commerce-cart__header__delete, .commerce-cart__header__delete-sold-out
	{
	display: inline-block;
	margin: 2px -3px 0;
	padding: 3px;
	background: none;
	border: none;
	color: #424242;
	font-family: inherit;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	transition: opacity .1s
}

.commerce-cart__header__delete-sold-out.focus-visible:focus,
	.commerce-cart__header__delete.focus-visible:focus {
	opacity: .6
}

@media ( min-width :768px) {
	.commerce-cart__header__delete-sold-out:active,
		.commerce-cart__header__delete-sold-out:hover,
		.commerce-cart__header__delete:active, .commerce-cart__header__delete:hover
		{
		opacity: .6
	}
}

.commerce-cart__header__divider {
	display: inline-block;
	width: 1px;
	height: 12px;
	background-color: #dbdbdb;
	vertical-align: -1px;
	margin: 0 10px
}

.commerce-cart__header--placeholder .round-checkbox-input__label>.caption
	{
	color: #dbdbdb;
	background-color: #dbdbdb
}

.commerce-cart__content {
	position: relative;
	margin: 0 -15px;
	padding: 0
}

@media ( min-width :768px) {
	.commerce-cart__content {
		margin: 0;
		padding: 30px 0
	}
}

.commerce-cart__content__summary {
	background-color: #fff
}

@media ( min-width :768px) {
	.commerce-cart__content__summary {
		display: none
	}
}

.commerce-cart__group-list {
	margin-top: 12px
}

@media ( min-width :768px) {
	.commerce-cart__group-list {
		margin: 0
	}
}

.commerce-cart__group-list__item {
	margin-bottom: 12px;
	background-color: #fff;
	overflow: hidden
}

@media ( min-width :768px) {
	.commerce-cart__group-list__item {
		border: 1px solid #ededed;
		border-radius: 6px
	}
}

.commerce-cart__group-list__item__header {
	border-bottom: 1px solid #ededed
}

.commerce-cart__group-list__item__footer,
	.commerce-cart__group-list__item__header {
	padding: 10px 0;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #424242
}

.commerce-cart__cart-list__item {
	border-bottom: 1px solid #ededed
}

.commerce-cart__side-bar-wrap {
	display: none;
	padding-top: 35px
}

@media ( min-width :768px) {
	.commerce-cart__side-bar-wrap {
		display: block
	}
}

.commerce-cart__side-bar {
	padding: 30px 0
}

.commerce-cart__side-bar__summary {
	margin: 0 0 20px;
	border: 1px solid #ededed;
	border-radius: 6px;
	background-color: #fff
}

.commerce-cart__side-bar__order__btn {
	display: block;
	width: 100%
}

.commerce-cart__footer-wrap {
	z-index: 502
}

.commerce-cart__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	z-index: 502;
	padding: 6px;
	background-color: hsla(0, 0%, 100%, .94)
}

@media ( min-width :768px) {
	.commerce-cart__footer {
		display: none
	}
}

.commerce-cart__footer__total {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 12px 16px 12px 10px;
	color: #000;
	font-size: 15px;
	line-height: 20px;
	text-align: center
}

.commerce-cart__footer__total>.cost {
	font-weight: 700
}

.commerce-cart__footer__order.button {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: auto;
	padding: 11px 10px;
	margin-bottom: env(safe-area-inset-bottom, 0)
}

.commerce-cart-empty {
	background-color: #f5f5f5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center
}

.layout .commerce-cart-empty {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.commerce-cart-empty__content {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	max-width: 220px;
	margin: 80px auto;
	box-sizing: border-box;
	text-align: center
}

.commerce-cart-empty__content__image {
	display: block;
	max-width: 160px;
	margin: 0 auto
}

.commerce-cart-empty__content__button.button {
	display: block;
	margin-top: 30px
}

._3xqzr {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	width: 100%
}

._1TAjN {
	flex-direction: row-reverse;
	padding-left: 6px
}

._4VN_z {
	flex-direction: row;
	padding-right: 6px
}

._1bsy0 {
	flex-direction: column-reverse
}

._LrGZ {
	flex-direction: column
}

._5RGri ._1aN3J {
	color: #f77
}

._1UXNZ ._1aN3J {
	color: #9e9e9e
}

._3Zrw6 ._1aN3J {
	font-size: 13px
}

._1aN3J {
	font-size: 15px
}