.write_Form{
	width:90%;
	margin:0 auto;
	border:1px solid black;
}
table{
	width:90%;
	margin:0 auto;
	border:1px solid black;
}
.BOARD_SUBJECT td{
	text-align:center;
	font-size:20px;
	font-weight:800;
}
#BOARD_SUBJECT{
	font-size:20px;
	width:98%;
	height:30px;
	border-radius:10px;
}
.BOARD_SUBJECT{
	
}
#BOARD_CONTENT{
	width:98%;
}