@charset "UTF-8";

@font-face{
	font-family:"godo";
	src:url("./../GodoM.woff");
}
*{
	font-family:"godo";
}

  /* ===============section================ */

  #s_wrap {
    width: 1082px;
    height: 100%;
    margin: 0 auto;
   
  }
  
  #pr_wrap {
   
   width: 100%;
   min-height: 646px;
   
  }
  
  #r_wrap{
   clear: both;
  }
  .s_menuhr {
    margin-top: 10px;
  }

  #s_menusize {
    width: 1082;
    height: 45px;
  }

  .s_menu1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .s_menu1 li {
    display: inline;
    list-style-type: none;
    padding: 10px;
  }

  #s_menuhr {
    clear: both;
  }

  .s_category {
   
    margin-top: 10px;
    margin-left: 28px;
  }


  .s_category li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
  }

  .s_category li a {
    text-decoration: none;
    color: gray;
  }

  #mainsize {
    margin-top: 50px;
    width: 1082px;
    height: 100%;

  }

  .s_subimg {
    clear: both;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .s_subimg li {
    list-style-type: none;
    margin-top: 5px;
  }

  #pr_imgs li img {
    width: 50px;
    height: 50px;
  }

  .s_mainimg {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 25px;
    width: 520px;
    height: 560px;
    text-align: center;
  }

  .s_mainimg img {
    width: 500px;
    height: 550px;
  }

  .s_maintitle {
    float: left;
    margin-left: 60px;
    margin-top: 10px;
    width: 330px;
    height: 100%;
   
  }

  .s_maintitle li {
    list-style-type: none;
  }

  .s_mainproduct {
    margin-top: 25px;
    width: 330px;
    height: 132px;
  }
  
  .s_mainproduct li {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .s_maintitlefont01 {
    color: skyblue;
  }

  .s_maintitlefont02 {
    font-size: 20px;
  }

  .s_maintitlefont03 {
    font-size: 20px;
    color: skyblue;
    display: inline;
  }

  .s_li_inline {
    display: inline;
  }

  .s_combobox {
    margin-top: 10px;
    width: 330px;
    text-align: center;
    
  }

  .s_combobox ul li {
    padding-left: 0;
  }

  .s_combobox ul li select {
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 40px;
  }

  .s_price {
    
    border-top: 1px solid black;
    width: 330px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 20px;
    
    
  }

  .s_price li {
    display: inline;
    margin-top: 20px;
  }

  .price01 {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .price02 {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #fb9b24;
  }

  .s_button {
    clear: both;
    margin-top: 30px;
    width: 330px;
    height: 100px;
  }

  .s_button li {
    display: inline;
    padding: 0;
  }

  .s_button li button {
    border: 2px solid;
    width: 145px;
    height: 50px;
  }

  .s_button li button:hover {
    background-color: skyblue;
    color: white;
  }

  .m_button01 {
    float: left;
    margin-left: 15px;
    border-radius: 7px;
    background-color: white;
    color: skyblue;
    font-size: 20px;
  }

  .m_button02 {
    float: right;
    margin-right: 15px;
    border-radius: 7px;
    background-color: white;
    color: skyblue;
    font-size: 20px;
  }

  

  /* section */
 
  /* .info_productimg {
    width: 1082px;
    height: 6600px;
  } */
  /* ==============Product suv nav============== */
  .pr_nav {
    
    margin-top: 10px;
    width: 100%;
    height: 50px;
  }
  

  .s_infonav {
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(247, 247, 247, 1);
    width: 100%;
    height: 35px;
    font-size: 25px;
    padding-top: 12px;
    text-align: center;
  }
  .s_infonav a{
     text-decoration: none;
     color:black;
  }
  .s_infonav li {
    display: inline;
  }
  .s_infonav li:nth-child(2n+2) {
    margin: 0 70px 0 70px;
    color: gray;
    font-weight: 100;
  }

  .s_infoimg {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  /*============= product img ================*/
  .productinfo_wrap {
  
    width: 100%;
    height: 100%;
    
  }
  
   .productinfo_wrap > p{
    
   width: 140px;
    margin-top: 80px;
    margin-left: 70px;
    font-weihgt: bold;
    font-size: 20px;
    border-bottom: 2px solid gray;
  }

  .productimg {
    /* margin-top: 60px; */
    width: 800px;
    height: 7500px;
    margin: 0 auto;
  }

  .pro_detail_img {
    width: 100%;
    height: 100%;
  }



  /* =============product buy=============== */
 /* .product_selling {
    float: right;
    position: sticky;
    top: 200px;
    padding-bottom: 100px;
    width: 400px;
    height: 800px;
    margin-top: 60px;
    margin-left: 10px;
  }

  .product_selling li {
    list-style: none;
  }

  .selling01 {
    width: 300px;
    height: 500px;
    margin: 0 auto;
  }

  .selling_select {
    width: 300px;
    height: 100px;
  }

  .selling_select li {
    margin-bottom: 10px;
  }

  .selling_select ul li select {
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .pr_contents {
    width: 300px;
    height: 400px;
  }

  .pr_price {
    width: 300px;
    height: 50px;
  }

  .selling02 {
    clear: both;
    width: 400px;
    height: 80px;
  }

  .selling02 li {
    display: inline;
  }

  .selling02 ul {
    clear: both;
    margin-left: 30px;
    width: 370px;
    height: 60px;
  }

  .selling02_button02 {
    float: left;
    width: 150px;
    height: 50px;
    border: 2px solid skyblue;
    border-radius: 7px;
    background-color: white;
    color: skyblue;
    font-size: 20px;
    margin-left: 5px;
  }

  .selling02_button02:hover {
    background-color: skyblue;
    color: white;
  } */

  .scrapsize {
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    padding-left: 2px;
    border: 2px solid pink;
    border-radius: 7px;
    background-color: white;
  }

  .s_subimg li {
    margin-top: 5px;
  }

  .s_imgborder {
    border: 2px solid white;
    border-radius: 7px;
    /* -moz-border-radius:7px;
    -khtml-border-radius:7px;
    -webkit-border-radius:7px; */
  }

  #showimg img {
    border: 3px solid white;
    border-radius: 12px;
    /* border-top-left-radius: 10px;
    -moz-border-radius:7px;
    -khtml-border-radius:7px;
    -webkit-border-radius:7px; */
  }

  .imghover {
    border: 2px solid gold;
    border-radius: 7px;
  }

  /* ==============table info/size============= */
  .pr_info {
    width: 100%;

  }

  .pr_info table {
    width: 600px;
    color: gray;
    margin: 0 auto;

  }

  .td_size {
    width: 200px;
  }

  .tablepadding {
    padding-left: 60px;
  }

  .table_hr {
    padding-bottom: 10px;
  }

  .pr_info hr {
    border-bottom: 1px solid gray;
  }

  /* =============review================== */
  #review {
   
    margin-top: 80px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

  .r_header {
    margin-top: 20px;
    width: 1040px;
    height: 30px;
    margin: 0 auto;
  }

  .r_title {
   
    margin-left: 70px;
    font-size: 20px;
  }

  .r_count {

    font-size: 20px;
    color: skyblue;
    margin-left: 10px;
  }

  .r_b_write button {
   
    float: right;
    margin-right: 70px;
    border: 0;
    background-color: white;
    color: skyblue;
    font-size: 20px;
  }

  .review_feed {
    width: 800px;
    height: 500px;
    box-sizing: border-box;
    margin: 0 auto;
  }


  .header_stars {
    float: left;
    margin-top: 10px;
    margin-left: 210px;
    background-color: skyblue;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
  }

  .stars_icon img {
    float: left;
    height: 30px;
    margin-top:8px;
    margin-left:5px;
  }

  .feed_filter {
    width: 600px;
    height: 40px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
  }



  .filter_best li button img {
    float: left;
    margin: 7px 5px 5px 5px;
    width: 30px;
    height: 25px;
  }

  .filter_best li {
    float: left;
    margin-right: 5px;
  }

  .cameratext {
    float: left;
    padding-top: 12px;
  }

 

  .filter_option {
    margin-left: 245px;
  }

  .filter_option button {
    margin-top: 5px;
    font-family: "jua";
    font-size: 17px;
    border: 0;
    background-color: rgba(233, 229, 229, 1);
    width: 70px;
    height: 30px;
    border-radius: 7px;
  }

  .filter_option button img {
    width: 12px;
    height: 12px;
    padding-left: 10px;
  }

  .inquiry{
     width:600px;
     height: 500px;
  }
  .inquiry ul{
     float:left;
  }
  .inquiry ul li{
    list-style: none;
    display: inline;
    margin-right: 5px;
    font-size: 20px;
  }
  .inquiry ul li:last-child{
    color:skyblue;
  }
  .inquiry button{
    float:right;
    border:0;
    background-color: white;
    color:skyblue;
    font-family: "jua";
    font-size: 20px;
  }
  
  .delivery table{
    clear:both;
  }
  
  .delivery_title01{
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .delivery_title02{
    font-size: 20px;
    margin-top:60px;
    margin-bottom: 40px;
  }
  
  .delivery_title02 li:last-child{
    /* margin-left:5px; */
  }
  
  
  .buylist_section1{
  
   display: none;
   border:1px solid black;
   width:300px;
   height: 80px;
   box-sizing: border-box;
   border:1px solid black;
   border-radius: 7px;
   margin-left: 15px;
   margin-top: 20px;
  
  }

  .buylist{
  
    float:left;
    margin-top: 10px; 
    box-sizing: border-box;
    font-size: 15px;
    margin-left: 10px;
  }
  
  .product_count{
  
  clear: both;
  float: left;
  margin : 8px 0 0 10px;
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  text-align-last: center;
  font-size: 15px;
  border: 1px solid  #c8c8c8;
  border-radius:7px;
  
  }

  .buylist_section1 > input[type="button"]{
     float: right;
     background-color: rgb(18, 74, 133);
     color: white;
     width: 25px;
     height: 25px;
     box-sizing: border-box;
     margin: 10px 10px 0 0;
     border: 1px solid rgb(18, 74, 133);
     border-radius: 7px;
     font-size: 16px;
     font-weight: bold;
 
  }
  
  .Option1{
     margin-top: 10px;
  }
  .count_price{
   
   float: right;
   margin-top: 10px;
   margin-right: 10px;'
   font-size: 15px;
  
  }
  
  .buy_option{
    float:left;
    margin-top: 12px;
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .product_orderbox {
     border-top: 1px solid black;
     width: 100%;
     height: 100%;
  }
  