@charset "EUC-KR";

#swrap{
	width: 1200px;
	height: 1600px;
	border: 1px solid black;
	margin:0 auto;
}

#detail_cover{
	float:left;
	width: 800px;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid black;
}

#detail_cover img {
	width: 800px;
	height: 500px;
	border:1px solid white;
	border-radius: 7px;
}

#detail_cover p{
	text-align: center;
	margin-top: 5px;
	font-size: 20px;
}

#user_action{
	float: right;
	width: 330px;
    height: 500px;
    box-sizing: border-box;
	border: 1px solid blue;
}

.scrapBT_list{
	margin-top:10px;
	font-size: 20px;
	font-weight: bold;
}


#tip_post{
	clear: both;
	margin-top: 20px;
	width:800px;
	height:400px;
	box-sizing: border-box;
	border: 1px solid green;
}

#tip_comment{
	border:1px solid red;
	width: 800px;
	height: 400px;
	box-sizing: border-box;
	margin-top: 10px;
}