@charset "UTF-8";

@font-face{
	font-family:"godo";
	src:url("./../GodoM.woff");
}

*{
	font-family:"godo";
	margin:0;
	padding:0;
}

section{
	margin-top: 20px;
	height: 100%;
}



.detail_coverimg img{
	width: 100%;
    height: 600px;
}

#detail {
    position: relative;
	width:800px;
	height: 100%;
	/*border: 1px solid red;*/
	margin: 50px auto 0 auto;
	
}

#detail_sidebar{
	position: absolute;
	top: 760px;
	right: 80px;
	width:300px;
	height: 500px;
	border: 1px solid green;
}

.category{
	font-weight: bold;
	font-size: 20px;
	color: skyblue;
}

.tiptitle{
	margin-top: 10px;
	font-size: 50px;
	font-weight: bold;
}

.author_header {
	margin-top: 20px;
	weight: 100%;
	height: 100px;
}

.author_img{
	float:left;
	width:50px;
	height:50px;
	border-radius: 100%;
	overflow: hidden;
}
.author_img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.author_header p:nth-child(2){
	margin: 0 0 0 70px;
	font-size: 20px;
	font-weight: bold;
}

.author_header p:nth-child(3){
    margin: 5px 0 0 70px;
	font-size: 15px;
	font-weight: bold;
	color: gray;
}

.board_delete_btn {
	float: right;
	background-color: rgb(18, 74, 133);
	color: white;
	width: 58px;
	height: 32px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid rgb(18, 74, 133);
	border-radius: 7px;
	outline: none;
	margin-top: 10px;
}

.board_delete_btn:hover {
	border: 1px solid rgb(27 99 175);
	background-color: rgb(30 80 134);
	color: white;
}

.detail_post{
	width:100%;
	height: 500px;
	border: 1px solid black;
	margin-top: 30px;
}

.comment{
	width: 100%;
	height: 100%;
	margin-top: 40px;
	border-top: 3px solid #e3e3e3;
}

.comment_title{
	margin-top: 20px;
}

.comment_title span:nth-child(1){
	font-size: 20px;
	font-weight: bold;
}

.comment_title span:nth-child(2){
	font-size: 20px;
	font-weight: bold;
	color: skyblue;
}

.comment_imgbox{
	float: left;
    width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.comment_imgbox img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.comment_textbox {
   float: left;
   width: 700px;
   line-height: 40px;
   border: 1px solid gray;
   border-radius: 7px;
   margin-left: 20px;
   padding-left: 10px;
   box-sizing: border-box;
  	
}

.comment_text {
    width: 633px;
    height: 30px;
    border: 0px solid black;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
     
}

.comment_form {
	margin-top: 10px;
	width: 100%;
	height: 40px;
}

.comment_write_btn{
	outline: none;
	border: 0px solid black;
	font-size: 18px;
	font-weight: bold;
	background-color: white;
}

.comment_write_btn:hover{
	color: gray;
}

.comment_list {
	clear: both;
	margin-top: 12px;
	margin-bottom: 10px;
}
.comment_author_img{
    float: left;
	width:40px;
	height:40px;
	border-radius: 100%;
	overflow: hidden;
	
}
.comment_author_img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.comment_list span:nth-child(2) {
	margin: 0 0 0 21px;
	font-weight: bold;
}

.comment_list span:nth-child(3) {
	margin: 0 0 0 10px;
	font-size: 18px;
}

.comment_list_feed {
	list-style: none;
	height: 23px;
}

.comment_list_feed li {
	display: inline;
	color: gray;
}

.comment_feed_date {
	margin-left: 21px;
	margin-bottom: 10px;
	font-size: 15px;
}

.comment_feed_delte {
	margin-left: 10px;
}

a {
	color:black;
}

#page_button a:hover {
	color: gray;
}
#comment_feed_list {
	margin-top: 30px;
}
.null_comment_list {
	clear: both;
	text-align: center;
	text-weight: bold;
	margin-top: 30px;
	
}
#page_button {
	clear: both;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border-top: 3px solid #e3e3e3;
	margin-top: 30px;
	padding-top: 10px;
}

.comment_delete_btn {
	border: 0px solid black;
	background-color: white;
	color: gray;
	font-size: 15px;
	outline: none;
}

.comment_delete_btn:hover {
	border-bottom: 1px solid black;
	color: black;
}

footer{
	width: 100%;
	height: 200px;
	border: 1px solid black;
	text-align: center;
	font-size: 60px;
}

