@charset "UTF-8";

@font-face{
	font-family:"godo";
	src:url("./../GodoM.woff");
}

@font-face {
  font-family: "jua";
  src: url("Okbe_ttf.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

#full_banner {
	width: 100%;
	height: 400px;
	background-image: url('./../img/stback2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#back_text{
	width:700px;
	height:100px;
	z-index:3;
	position:relative;
	font-size:30pt;
	font-weight: bold;
	font-family:"godo";
	top:20%;
	left:28%;
	color:white;
}

#back_test2{
	width:700px;
	height:100px;
	z-index:3;
	position:relative;
	font-size:24pt;
	font-weight: bold;
	font-family:"godo";
	top:10%;
	left:28%;
}

#store_index_banner_body{
	width:1082px;
	height:600px;
	margin:0 auto;
}

#banner_box1{
	float:left;
	margin-top:50px;
	width:650px;
	height:500px;
	border:1px solid gray;
	border-radius:8px;
	background-image: url('./../img/stbanner.webp');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: -webkit-transform .8s ease;
	cursor: pointer;
}
#banner_box1:hover{
	-webkit-transform: scale(1.05);
          transform: scale(1.05);
	transition: transform .8s ease;
	
}

#banner1{
	width:300px;
	height:70px;
	position: relative;
	top:30%;
	left:60%;
	color:white;
	font-family:"godo";
	font-weight: bold;
	font-size:30pt;
}

#banner2{
	width:120px;
	height:40px;
	border:5px solid white;
	position:relative;
	top:30%;
	left:70%;
	color:white;
	font-family:"godo";
	font-weight: bold;
	font-size:24pt;
	text-align: center;
}

#banner_box2{
	margin-top:50px;
	float:right;
	width:350px;
	height:500px;
	border-radius: 8px;
	background-image: url('./../img/stbanner2.webp');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: -webkit-transform .8s ease;
	cursor: pointer;
}

#banner_box2:hover{
	-webkit-transform: scale(1.05);
          transform: scale(1.05);
	transition: transform .8s ease;
}

#banner3{
	width:120px;
	height:40px;
	position:relative;
	top:90%;
	left:10%;
	color:black;
	font-family:"godo";
	font-weight: bold;
	font-size:24pt;
	text-align: center;
}

#store_index_main{
	clear:both;
	width:1080px;
	height:100%;
	margin:0 auto;

}
#store_index_main ul li {
  list-style: none;
  display: inline;
}

#sub_title1{
	width:1080px;
	height:40px;
	font-family:"godo";
	font-size:20pt;
	font-weight: bold;
}



#store_index_listall{
	margin-top:20px;
	width:240px;
	height:240px;
	border:1px solid gray;
}

.m_img {
  height: 330px;
}

.m_img ul {
  width: 1080px;
  height: 330px;

}

.m_img ul li {
  height: 280px;
  width: 215px;
  padding-right: 55px;
  margin-bottom: 50px;
  float: left;
}

.m_img ul div {
  padding-bottom: 5px;
}

.m_imgsize {
  width: 215px;
  height: 215px;
  border-radius: 10px;
}

.m_pname {
  font-size: 23px;
  font-family: "jua";
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.m_pindex {
  font-size: 17px;
  font-family: "jua";
  color:gray;
  text-decoration: none;
}
.m_pindex2 {
  font-size: 18px;
  font-family: "jua";
  color:rgb(40, 146, 177);
  text-decoration: none;
}

figure {
	position: relative;
	overflow: hidden;
	width: 215px;
  height: 215px;
	cursor: pointer;
	text-align: center;
	/* float: left; */
	margin: 0;
}
figure p {
	margin: 0;
	font-size: 1.3rem;
}
figure figcaption {
	position: absolute;
	left: 0;
	top: 0;
	width: 215px;
	height: 215px;
	color: #fff;
	font-family: "jua";
	font-size: 18px;
	font-weight: bold;
}
figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

.row {
	width: 215px;
	overflow: hidden;
  text-decoration: none;
}

.m_img ul a{
  text-decoration: none;
}

figure.effect1 figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 215px;
	height: 215px;
	content: '';
	opacity: 0;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	transform: translate3d(0, 50%, 0);
}
figure.effect1 figcaption h2 {
	position: absolute;
	letter-spacing: 1px;
	top: 50%;
	left: 0;
	width: 215px;
	color: #fff;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0, -50%, 0);
}
figure.effect1 figcaption::before,
figure.effect1 p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect1 p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 0;
  padding-bottom: 80px;
	width: 100%;
	opacity: 0;
	transform: translate3d(0, 10px, 0);
}
figure.effect1:hover h2 {
	color: #fff;
	transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}
figure.effect1:hover figcaption::before,
figure.effect1:hover p {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


