@charset "UTF-8";

@font-face{
	font-family:"godo";
	src:url("./../GodoM.woff");
}
@font-face {
  font-family: "jua";
  src: url("Okbe_ttf.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*{
	font-family:"godo";

}
#qna_post_replysize{

	float:left;
	width:800px;
	height:100%;
	margin-left:350px;
	margin-top:30px;
}

#reply_title_size{
	width:820px;
	height:50px;
	font-family:"godo";
	font-size:16pt;
	font-weight: bold;
	color:black;
}

#reply_inner_text{
	width:720px;
	height:30px;
	font-family:"godo";
	font-size:11pt;
	font-weight: bold;
	outline-style: none;
	margin-bottom:10px;

}

#reply_inner_text_null{
	width:820px;
	height:50px;
	color:gray;
	font-size:11pt;
	font-weight: bold;
	margin-bottom:10px;
}

#reply_button{
	position:relative;
	top:6px;
	right:40px;
	font-family:"godo";
	float:right;
	border:0;
	outline:0;
	cursor:pointer;
	font-size:13pt;
	font-weight: bold;
}
#null_comment{
	width:820px;
	height:50px;
	margin-top:15px;
	font-size:11pt;
	font-weight:bold;

}

#comment_size{

	width:820px;
	height:100%;
}

#comment_profileimg{
	width: 40px;
    height: 40px; 
    border-radius: 70%;
    overflow: hidden;
    margin-right:15px;
    position: relative;
    top:10px;
	
}

#comment_id{
	
	font-size:13pt;
	font-weight:bold;
	position: relative;
	bottom: 8px;

}

#comment_content{
	color:gray;
	font-size:11pt;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:55px;
}

#commnet_number{
	font-size:9pt;
	font-weight:bold;
	margin-right:8px;
	margin-left:55px;
}

#comment_date{
	font-size:9pt;
	font-weight:bold;
	margin-left:8px;
	margin-right:8px;
}

#reply_txt{
	font-size:9pt;
	font-weight:bold;
	width:600px;
	height:20px;
	margin-left:55px;
	margin-top:10px;
	outline:0;
}

.comment_modify{
	color:black;
	font-size:7pt;
	font-weight:bold;
	margin-right:7px;
	text-decoration: none;
	
}

#comment_line{
	margin-top:5px;
	margin-bottom:5px;
	color:gray;
	width:90%;
	margin-left:30px;
	
}

#comment_count{
	font-family:"godo";
	font-size:11pt;
	font-weight: bold;
}

#pageList{
	width:1080px;
	height:100px;
	margin:0 auto;
	text-align: center;
	font-size:14px;
	font-weight:bold;
	font-family:"godo";
}

.re_bt{
	border:0;
	outline:0;
	cursor:pointer;
	font-size:7pt;
	font-weight: bold;
	
}

#re_okbt{
	border:0;
	outline:0;
	cursor:pointer;
	font-size:7pt;
	font-weight: bold;
}