<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SqlData">

<select id="select_productpostview" parameterType="String" resultType="com.jachi.DTO.ProductinfoDTO">
  select * from productinfo where pro_code=#{pro_code};
</select>

<select id="select_orderview_count" parameterType="String" resultType="String">
  SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end FROM delivery where us_id = #{us_id} and dlv_status='입금대기' union SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end  FROM jachi.delivery where us_id = #{us_id} and dlv_status='결제완료' union SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end  FROM jachi.delivery where us_id = #{us_id} and dlv_status='배송준비' union SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end  FROM jachi.delivery where us_id = #{us_id} and dlv_status='배송중' union SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end  FROM jachi.delivery where us_id = #{us_id} and dlv_status='배송완료' union SELECT case when count(*) is null then '0' when count(*) is not null then count(*) end  FROM jachi.delivery where us_id = #{us_id} and dlv_status='구매확정';
</select>

<select id="select_listall" parameterType="String" resultType="com.jachi.DTO.ProductinfoDTO">
	select pro_code,pro_name,pro_price,pro_mainimg from productinfo;
</select>


<insert id="insert_productinfo" parameterType="com.jachi.DTO.ProductinfoDTO">insert into productinfo values(#{pro_code},#{pro_name},#{pro_price},#{pro_mainimg},#{pro_subimg},#{pro_option1},#{pro_option2},#{pro_option3},#{pro_catecode1},#{pro_catecode2},#{pro_catecode3}); </insert>
</mapper>