<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SqlData">

<select id="select_productpostview" parameterType="String" resultType="com.jachi.DTO.ProductinfoDTO">
  select * from productinfo where pro_code=#{pro_code};
</select>

<select id="select_orderview_count" parameterType="String" resultType="String">
  SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='입금대기'
  union all (SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='결제완료')
  union all(SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='배송준비')
  union all (SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='배송중')
  union all(SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='배송완료')
  union all (SELECT ifnull(count(*),'0') FROM delivery where us_id = #{us_id} and dlv_status='구매확정');

</select>


<select id="orderList_status" parameterType="com.jachi.DTO.OrderListDTO" resultType="com.jachi.DTO.OrderListDTO" >
SELECT DISTINCT list_date,list_name,dlv_status as 'list_delStatus',cal_price,list_amount,
a.dlv_comp as 'list_company',a.dlv_num as 'list_delNum' FROM jachi.delivery a 
join (select b.pro_name as 'list_name',a.or_count as 'list_amount',a.or_date as 'list_date',(a.or_count*b.pro_price) as 'cal_price',a.or_id 
FROM jachi.order a join productinfo b on a.or_procode = b.pro_code
 and a.or_id=#{or_id}) k where a.dlv_status=#{list_delStatus};

</select>


<select id="select_listall" parameterType="String" resultType="com.jachi.DTO.ProductinfoDTO">
	select pro_code,pro_name,pro_price,pro_mainimg from productinfo;
</select>

<select id="select_logininfo" parameterType="String" resultType="String">
	select us_pw from userinfo where us_id = #{us_id};
</select>


<insert id="insert_productinfo" parameterType="com.jachi.DTO.ProductinfoDTO">insert into productinfo values(#{pro_code},#{pro_name},#{pro_price},#{pro_mainimg},#{pro_subimg},#{pro_option1},#{pro_option2},#{pro_option3},#{pro_catecode1},#{pro_catecode2},#{pro_catecode3}); </insert>
</mapper>